<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Add</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/users}" th:object="${user}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="lastname">Lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <br/>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>

    <form th:action="@{/admin/users}" th:method="PATCH">
        <tr th:each="role, state : ${role}"
            class="row" th:classappend="${state.odd}">
            <label th:text="${role.getName()}" for="roleId"></label>
            <input type="checkbox" id="roleId" name="roleId" th:value="${role.getId}"/>
            <br/>
        </tr>
        <input type="submit" value="Create">

    </form>




</body>

</html>